/.bundle/
/pkg/
/gems.locked
/.covered.db
/external

/.yardoc/
/_yardoc/
/doc/
/rdoc/

/.bundle/
/lib/bundler/man/

/gems.locked
.ruby-version
.ruby-gemset

/examples/log
/examples/run
/spec/rubydns/server/bind9/log/
