language: ruby
sudo: false
rvm:
  - 2.0.0
  - 2.1.8
  - 2.2.4
  - 2.3.0
  - ruby-head
  - rbx-2
env: COVERAGE=true
matrix:
  allow_failures:
    - rvm: "rbx-2"
addons:
  apt:
    packages:
    - bind9
